@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap");

:root {
  --background: linear-gradient(135deg, #0f0f0f7e 0%, #f2ecf898 100%);
  --color-primary: #667eea;
  --color-secundary: #764ba2;
  --boton-padding: 15px 30px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ralewey", sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  padding: 80px 0;
  max-width: 1200px;
}

/* CABECERA DE LA PAGINA
  TITULO Y NAVEGADOR   */

